<section *ngIf="isLoading" class="bg-dark py-5 vh-100 d-flex justify-content-center align-items-center">
    <i class="fa-solid fa-spinner fa-spin-pulse text-info fs-1"></i>
</section>
<section *ngIf="!isLoading" class="vh-100 d-flex justify-content-center align-items-center bg-dark">
    <div class="container text-center">
        <div class="card position-relative py-3">
            <a (click)="goBack()" class="position-absolute end-0  top-0 me-5 fw-bold"><i class="fa-solid fa-xmark fs-3"></i></a>
            <img [src]="detailedMaid.avatar" class="card-img-top w-25 m-auto" alt="image">
            <div class="card-body">
              <h5 class="card-title">{{detailedMaid.first_name+' '+detailedMaid.last_name}}</h5>
              <p class="card-text"><span>Email: </span>{{detailedMaid.email}}</p>
            </div>
        </div>
    </div>
</section>
